@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* header section  */

header{
    text-align: center;
    background-color: white;
    padding: 2rem 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

header h2{
    font-family: 'Andada Pro',serif;
    font-size: 2rem;
    line-height: 3rem;
}

header img{
    width:50px;
    height: 50px;
}

header .content p{
    font-weight : 100 ; 
    margin:5px;
    font-size: 1.7rem;
    
}

header .content a{
    font-size: 2rem;
}

/* body section  */
body{
    background-color: #f9fbff;
}


/* select class section  */

.select-class{
    padding:2rem 7%;
    font-family: 'Mukta', sans-serif;
}

.select-class form{
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: space-between;
}

.select-class form label{
    font-size: 1.8rem;
}

.select-class form select{
    padding:.5rem 1.5rem;
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,.3);
}



.select-class form input{
    padding:.5rem 1.5rem;
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,.3);
    transition: all .2s linear;
}

.select-class form input:hover{
    background-color: #0e7bc0;
    color: white;
    cursor: pointer;
}

.select-class form a{
    padding:.5rem 1.5rem;
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,.3);
    transition: all .2s linear;
    font-size: 1.5rem;
    color:grey;
}

.select-class form a i{
    margin-right: 1rem;
}

.select-class form a:hover{
    background-color: #0e7bc0;
    color: white;
    cursor: pointer;
}





/* table section */

.table{
    padding: 2rem 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Mukta', sans-serif;
}

.table table{
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 .5rem 1rem #e1e5ee;
    text-align: center;
    width: 100%;
}

.table table thead{
    box-shadow: 0 .5rem 1rem #e1e5ee;
}

.table table thead{
    font-weight: 600;
    font-size:2rem;
}

.table table th{
    padding:2rem 0;
    font-size: 2rem;
    letter-spacing: .1rem;
}

.table table tbody{
    font-weight: 400;
}

.table table td{
    padding: 2rem 0;
    font-size: 1.7rem; 
    letter-spacing: .1rem;
}

.table table td #edit-icon{
    color:#007bff;
    background-color: white;
    padding: .5rem 2rem;
    border-radius: .5rem;
    border: .1rem solid #007bff;
    transition: all .2s linear;
}

.table table td #edit-icon:hover{
    background-color: #007bff;
    color:white;
}

.table table td #edit-icon i,.table table td #delete-icon i{
    margin-right: .5rem;
}

.table table td #delete-icon{
    padding: .5rem 1.5rem;
    border-radius: .5rem;
    border: .1rem solid #dc3545;
    transition: all .2s linear;
    color:#dc3545;
    background-color: white;
}

.table table td #delete-icon:hover{
    background-color: #dc3545;
    color:white;
}

tr:nth-child(even){
    background-color: #f4f6f6;
}

/* table media query  */

@media(max-width:1000px){
    .table table thead{
        display: none;
    }

    .table table,.table table tbody,.table table tr,.table table td{
        display: block;
        width: 100%;
    }

    .table table tr{
        margin-bottom: 1.5rem;
        padding:2rem;
    }

    .table table td{
        text-align: right;
        padding-right: 2.5rem;
        position: relative;
        border:.1rem solid #ddd;
    }

    .table table td::before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 1.5rem;
        font-size: 1.5rem;
        text-align: left;
    }
}

