@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:wght@500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;    
    transition:all .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* header section  */

header{
    text-align: center;
    background-color: white;
    padding: 2rem 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

header h2{
    font-family: 'Andada Pro',serif;
    font-size: 2rem;
    line-height: 3rem;
}

header img{
    width:50px;
    height: 50px;
}

header .content p{
    font-weight : 100 ; 
    margin:5px;
    font-size: 1.7rem;
    
}

header .content a{
    font-size: 2rem;
}

/* form section  */

form{
    background-color: white;
    text-align: center;
    font-size: 2.5rem;
    padding-bottom: 10rem;
}

.update-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.update-form div{
    margin:2rem;
}

.update-form input{
    
    padding:1rem 2rem;
    font-size: 1.5rem;
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,0.3);
}

.update-form #update:hover{
    color:white;
    background-color: green;
    cursor: pointer;
}


/* media query  */

@media(max-width:560px){

    html{
        font-size: 50%;
    }

    form{
        margin-top: 2rem;
        padding: 3rem 3rem;
    }

}

@media(max-width:400px){

    html{
        font-size: 40%;
    }

}